body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  margin-top: 20px;
}

.todo-headers {
  text-align: center;
}

.todo-list {
  display: inline-flex;
  width: 100%;
}


.todoSection {
  background-color: #ff847c;
  margin-left: 10%;
  margin-right: 2%;
  width: 100%;
  text-align: left;
  padding: 10px;
}

.doneSection {
  background-color: #a2de96;
  margin-left: 2%;
  margin-right: 10%;
  width: 100%;
  text-align: left;
  padding: 10px;
}




/*form*/
.submitButton {
  margin: 10px;
}

.inputLabel {
  margin: 10px;

}
